<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Threading" version="15.8.209" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.209" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net472" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net472" />
  <package id="VS.QualityTools.UnitTestFramework" version="15.0.27323.2" targetFramework="net472" />
</packages>