<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SteveCadwallader.CodeMaid.Properties.Settings>
      <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_AutoSaveAndCloseIfOpenedByCleanup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_ExcludeT4GeneratedCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_ExclusionExpression" serializeAs="String">
        <value>\.Designer\.cs$||\.Designer\.vb$||\.resx$</value>
      </setting>
      <setting name="Cleaning_IncludeCPlusPlus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeCSharp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeCSS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeEverythingElse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_IncludeFSharp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeHTML" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeJavaScript" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeJSON" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeLESS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludePHP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludePowerShell" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeR" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeSCSS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeTypeScript" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeVB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeXAML" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_IncludeXML" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterClasses" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterDelegates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterEndRegionTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterEnumerations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterEvents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterFieldsMultiLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterInterfaces" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterMethods" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterNamespaces" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesMultiLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesSingleLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterRegionTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterStructs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterUsingStatementBlocks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeCaseStatements" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeClasses" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeDelegates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeEndRegionTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeEnumerations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeEvents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeFieldsMultiLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeInterfaces" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeMethods" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeNamespaces" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesMultiLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesSingleLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeRegionTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeSingleLineComments" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeStructs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeUsingStatementBlocks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBetweenPropertiesMultiLineAccessors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertBlankSpaceBeforeSelfClosingAngleBrackets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnClasses" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnDelegates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnEnumerations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnEvents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnFields" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnInterfaces" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnMethods" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnProperties" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnStructs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Cleaning_RemoveBlankLinesAfterAttributes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveBlankLinesAfterOpeningBrace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveBlankLinesAtBottom" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveBlankLinesAtTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveBlankLinesBeforeClosingBrace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveBlankLinesBeforeClosingTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveBlankLinesBetweenChainedStatements" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveBlankSpacesBeforeClosingAngleBrackets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveEndOfFileTrailingNewLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveEndOfLineWhitespace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveMultipleConsecutiveBlankLines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RemoveRegions" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Cleaning_RunVisualStudioFormatDocumentCommand" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_RunVisualStudioRemoveAndSortUsingStatements" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_SkipRemoveAndSortUsingStatementsDuringAutoCleanupOnSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_UpdateAccessorsToBothBeSingleLineOrMultiLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_UpdateEndRegionDirectives" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_UpdateFileHeaderCPlusPlus" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderCSharp" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderCSS" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderFSharp" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderHTML" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderJavaScript" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderJSON" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderLESS" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderPHP" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderPowerShell" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderR" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderSCSS" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderTypeScript" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderVB" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderXAML" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateFileHeaderXML" serializeAs="String">
        <value />
      </setting>
      <setting name="Cleaning_UpdateSingleLineMethods" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_UsingStatementsToReinsertWhenRemovedExpression" serializeAs="String">
        <value />
      </setting>
      <setting name="Collapsing_CollapseSolutionWhenOpened" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Collapsing_KeepSoloProjectExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Digging_CenterOnWhole" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Digging_ComplexityAlertThreshold" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Digging_ComplexityWarningThreshold" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Digging_IndentationMargin" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="Digging_PrimarySortOrder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Digging_SecondarySortTypeByName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Digging_ShowItemComplexity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Digging_ShowItemMetadata" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Digging_ShowMethodParameters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Digging_SynchronizeOutlining" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Finding_ClearSolutionExplorerSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Finding_TemporarilyOpenSolutionFolders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentSkipWrapOnLastWord" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Formatting_CommentWrapColumn" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Formatting_CommentXmlAlignParamTags" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentXmlKeepTagsTogether" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentXmlSpaceSingleTags" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentXmlSpaceTags" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentXmlSplitAllTags" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentXmlSplitSummaryTagToMultipleLines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Formatting_CommentXmlTagsToLowerCase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentXmlValueIndent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="General_CacheFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_DiagnosticsMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="General_Font" serializeAs="String">
        <value>Segoe UI</value>
      </setting>
      <setting name="General_IconSet" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="General_LoadModelsAsynchronously" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_ShowStartPageOnSolutionClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_SkipUndoTransactionsDuringAutoCleanupOnSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_Theme" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="General_UseUndoTransactions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Progressing_HideBuildProgressOnBuildStop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Progressing_ShowProgressOnWindowsTaskbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_AlphabetizeMembersOfTheSameGroup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_ExplicitMembersAtEnd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reorganizing_KeepMembersWithinRegions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_MemberTypeClasses" serializeAs="String">
        <value>Classes||12||Classes</value>
      </setting>
      <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
        <value>Constructors||2||Constructors</value>
      </setting>
      <setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
        <value>Delegates||4||Delegates</value>
      </setting>
      <setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
        <value>Destructors||3||Destructors</value>
      </setting>
      <setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
        <value>Enums||6||Enums</value>
      </setting>
      <setting name="Reorganizing_MemberTypeEvents" serializeAs="String">
        <value>Events||5||Events</value>
      </setting>
      <setting name="Reorganizing_MemberTypeFields" serializeAs="String">
        <value>Fields||1||Fields</value>
      </setting>
      <setting name="Reorganizing_MemberTypeIndexers" serializeAs="String">
        <value>Indexers||9||Indexers</value>
      </setting>
      <setting name="Reorganizing_MemberTypeInterfaces" serializeAs="String">
        <value>Interfaces||7||Interfaces</value>
      </setting>
      <setting name="Reorganizing_MemberTypeMethods" serializeAs="String">
        <value>Methods||10||Methods</value>
      </setting>
      <setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
        <value>Properties||8||Properties</value>
      </setting>
      <setting name="Reorganizing_MemberTypeStructs" serializeAs="String">
        <value>Structs||11||Structs</value>
      </setting>
      <setting name="Reorganizing_PerformWhenPreprocessorConditionals" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Reorganizing_PrimaryOrderByAccessLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reorganizing_RegionsIncludeAccessLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reorganizing_RegionsInsertKeepEvenIfEmpty" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reorganizing_RegionsInsertNewRegions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reorganizing_ReverseOrderByAccessLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Switching_RelatedFileExtensionsExpression" serializeAs="String">
        <value>.cpp .h||.xaml .xaml.cs||.xml .xsd||.ascx .ascx.cs||.aspx .aspx.cs||.master .master.cs</value>
      </setting>
      <setting name="ThirdParty_OtherCleaningCommandsExpression" serializeAs="String">
        <value />
      </setting>
      <setting name="ThirdParty_UseJetBrainsReSharperCleanup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThirdParty_UseTelerikJustCodeCleanup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThirdParty_UseXAMLStylerCleanup" serializeAs="String">
        <value>False</value>
      </setting>
    </SteveCadwallader.CodeMaid.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.ComponentModelHost" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Shell.Immutable.11.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.FileVersionInfo" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Thread" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Text.UI.Wpf" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Text.Data" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Editor" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.CoreUtility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Text.UI" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>